.imgHome {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.imgHome:hover {
  transform: scale(1.03);
}

.layoutHomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* .imageLink {
  display: inline-block;
} */
