:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #242424;
  --color-bg-70: #242de4;
  --color-bg-60: color-mix(in srgb, #242424 85%, white);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
